#Fichiers et repertoires à ignorer

config.ini
config2.ini
*.pyc
*.so.1
__pycache__/
*.pickle
credentials.json
local_settings.py
cache/
.vscode/
env/
logs/
.venv/
.env
test/
*.csv
*.~csv
db_folder/pg_*/*
*.log
*.log.*
.bak

srv/datas/*
fake_data/*
#exceptions
!srv/datas/.gitkeep 

# Ignore dynaconf secret files
.secrets.*



