#Fichiers et repertoires à ignorer

config.ini
config2.ini
*.pyc
*.so.1
__pycache__/
*.pickle
credentials.json
local_settings.py
cache/
.vscode/
env/
*.log
.venv/
.env
test/
*.csv
db_folder/pg_*/*

srv/datas/*

#exceptions
!srv/datas/.gitkeep 

# Ignore dynaconf secret files
.secrets.*



